
    
.container-fluid{
	padding-top: 25vh;		
}

form{
	backdrop-filter: blur(2px);
	background-color: rgba(147, 166, 185, 0.7);
	border-radius: 40px;
	padding: 50px;
    width: 400px;
}
input{
   
    background:transparent ;
    border:none; 
    border-bottom: 1px solid rgb(241, 234, 234);
    font-family: 'Aclonica',sans-serif;
    font-size:16px ;
    font-weight: 200px;
    transition:border 0.5s ;
    outline: none;
    color: #fff;
    left: 42%;
	position: absolute;
}
.btn-primary{
    border:none;
    width: 190px;
    background: white;
    color: #000;
    font-size:16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius:15px ;
	cursor: pointer;
	padding-left: 0;
}
.btn-primary:hover{
    color: #fff;
    background-color: black;
}
h4,label,#email,#pass{
    color: white;
    
}

.link{
    color: white;
    font-family: 'Aclonica',sans-serif;
}

