<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/output.css">
        <title>AUDIO GENRE PREDICTION</title>
        <style>
            html,body{
        height: 100%;
        width: 100%;
      }
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          width:30%;
          margin: 750px 500px;
        }

        .but {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 10px 15px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          cursor: pointer;
          width:30%;
          margin: 750px 100px;
        }
        

        </style>
    </head>
    <body>
        <div class="star"></div>
        <div class="star2"></div>
        <link rel="stylesheet" href="static/animation.css">
        <div class="container"> 
            <span class="text1">Predicted genre is</span> 
            <span class="text2">{{value}}</span> 
        </div>
        <div class="container_button">
            <div class="row">
              <div class="col-sm-6">
                <a href="{{url_for('upload')}}">
                  <button class=" button btn btn-danger form-control  btn-block"  >Go back</button></div>
                </a>
              <div class="col-sm-6">
                <a href="{{url_for('logout')}}">
                  <button id="btnSubmit" class="but btn btn-primary form-control btn-block" >Logout</button></div>
                </a>
            </div>
          </div>
    </body>
</html>
