<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="static/login.css">
  </head>
  <style>
    html,body{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;	
	    background-image: url(static/w4.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      font-family: 'Aclonica', sans-serif;
    }
  </style>
  <script type="text/javascript">
    type="text/javascript"
    src="//code.jquery.com/jquery-1.10.2.min.js"
  </script>
  <body>
    <section class="container-fluid">
      <section class="row justify-content-center">
        <section>
          <div class="col-sm-12"> 
            <form  name="RegistrationForm" method="POST" action="/register" class="form-container">
            <input id = "csrf_token" name = "csrf_token" type = "hidden" />
              <div class="form-group">
                <h4 class="col-md-12 text-center" id="login">Register</h4>
                <div class="sm-4">
                <i class="fas fa-user"></i>
                <label>E-mail ID</label>
                <input type="text"  name="email" id="email" placeholder="Email-id">
                </div>
              </div>
              <div class="form-group">
                <div class="sm-4">
                <i class="fas fa-lock"></i>
                <label>Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <div class="sm-4">
                <i class="fas fa-lock"></i>
                <label>Password</label>
                <input type="password" name="password" id="pass" placeholder="Password">
                </div>
              </div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br>
                <a class="link" href="{{url_for('login')}}">Already registered user? Click here</a>
              </div>
            </form>
          </div>
          </section>
        </section>
      </section>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
